language: java
script: "./gradlew build -s"
jdk:
- oraclejdk8
before_cache:
- find $HOME/.gradle -name '*.lock' -print -exec rm -f {} \;
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
sudo: false
addons:
  apt:
    packages:
    - oracle-java8-installer
before_install:
- openssl aes-256-cbc -K $encrypted_17815da8492b_key -iv $encrypted_17815da8492b_iv -in setup-travis.sh.enc -out setup-travis.sh -d
- chmod +x setup-travis.sh
- ./setup-travis.sh
after_success:
# test TPR == false && (TB == dev/version/* || TB == master)
- test $TRAVIS_PULL_REQUEST == false -a \( $TRAVIS_BRANCH == 'dev/version/*' -o $TRAVIS_BRANCH == 'master' \) && ./gradlew
  uploadArchives -PossrhUsername=kenzierocks
after_script:
- "./gradlew --stop"
